/* Fonts */
@font-face {
  font-family: "pop";
  src: url("../public/fonts/Poppins-Regular.ttf");
  weight: 400;
}

@font-face {
  font-family: "pop-b";
  src: url("../public/fonts/Poppins-Bold.ttf");
}